@import "_variables.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $primaryColor;
  color: $fontWhite;
  box-shadow: 0 0 .5rem .1rem black;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .title {
      font-size: 4rem;
      color: $fontWhite;

      &:hover {
        opacity: .9;
      }
    }

    .login-label {
      display: none;
    }

    .toggle-checkbox {
      position: absolute;
      top: -9999px;
      right: -9999px;

      &:checked + .login {
        height: 115px;
        transition: height .3s;
      }
    }

    .form-toggle {
      padding: 1rem;
      border-radius: .5rem;
      border: 1px solid $silverColor;

      svg {
        vertical-align: middle;
        width: 3rem;
        fill: $silverColor;
      }
    }
  }
}


@media screen and (max-width: 730px) {
  header .content {

    .login-label {
      display: block;
    }

    .login {
      height: 0;
      overflow: hidden;
      width: 100%;
      transition: height .3s;

      .login-form {
        display: flex;
        flex-direction: column;

        .form-column, .btn {
          margin: 1rem 0;

          .form-control {
            width: 100%;
          }
        }

        .btn {
          align-self: flex-start;
        }
      }
    }
  }
}
