<header>
  <div class="content container">
    <a href="/" class="title">Test task for GrainTrack</a>
    <label class="login-label" for="toggle-checkbox">
      <div class="form-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -53 384 384">
          <path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
          <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
          <path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        </svg>
      </div>
    </label>
    <input type="checkbox" class="toggle-checkbox" id="toggle-checkbox">
    <div class="login">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-column">
          <input type="email"
                 class="form-control"
                 placeholder="Email"
                 formControlName="email"
                 [ngClass]="{'invalid': loginForm.get('email').invalid && loginForm.get('email').touched}"
          >
        </div>
        <div class="form-column">
          <input type="email"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password"
                 [ngClass]="{'invalid': loginForm.get('password').invalid && loginForm.get('password').touched}"
          >
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
  </div>
</header>
