<div class="data-item">
  <div class="item-img" [style.backgroundImage]="'url(' + dataItem.imgUrl + ')'"></div>
  <div class="content">
    <h3 class="title">{{ dataItem.title }} {{ dataItem.id }}</h3>
    <p class="subtitle">{{ dataItem.subtitle }}</p>

    <button class="btn btn-primary">Show more</button>
  </div>
</div>
