.data-item {
  width: 30rem;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid silver;
  border-radius: .4rem;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 .7rem 0 silver;
  }

  .item-img {
    width: 100%;
    background-size: cover;
    height: 21rem;
  }

  .content {
    margin-top: 2rem;

    .title {
      font-size: 2.4rem;
    }

    .subtitle {
      margin: 1.5rem 0;
    }
  }
}

@media screen and (max-width: 605px) {
 .data-item {
   width: 100%;
   display: flex;

   .item-img {
     margin-right: 2rem;
   }

   .content {
     margin-top: 0;
   }
 }
}

@media screen and (max-width: 485px) {
  .data-item {
    width: 100%;
    flex-direction: column;

    .item-img {
      margin-bottom: 2rem;
    }
  }
}
