@import "_variables";

.banner {
  width: 100vw;
  padding-top: 7rem;
  background-color: $bannerBg;

  .content {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $fontWhite;

    .title {
      font-size: 6.3rem;
    }

    .subtitle {
      font-size: 2.2rem;
      margin: 2rem 0;
    }

    .more-btn {
      align-self: flex-start;
      font-size: 1.8rem;
    }
  }
}
