<div class="banner" *ngIf="bannerData">
  <div class="content container">
    <h2 class="title">{{ bannerData.title }}</h2>
    <p class="subtitle">{{ bannerData.subtitle }}</p>
    <button class="more-btn btn btn-primary">Show more</button>
  </div>
</div>

