<app-header></app-header>

<div class="main" *ngIf="allData; else loadingBlock">
  <app-banner [bannerData]="allData.bannerData"></app-banner>

  <div class="items-list container">
    <app-card *ngFor="let item of allData.data" [dataItem]="item"></app-card>
  </div>
</div>
<ng-template #loadingBlock>
  <p class="loading">Loading...</p>
</ng-template>

<app-footer></app-footer>

