.items-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4rem;

  @media screen and (max-width: 605px) {
    justify-content: space-around;
  }
}

.loading {
  margin-top: 40vh;
  text-align: center;
  font-size: 1.8rem;
}
