@import "_variables";

footer {
  margin-top: 5rem;
  background-color: $primaryColor;

  .content {
    text-align: center;
    padding: 2rem 0;
    color: $fontWhite;
    font-style: italic;

    .title {
      font-weight: 300;
    }
  }
}
