/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px
}

body {
  font-family: 'Kalam', cursive;
  font-size: 1.6rem;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontBlack;
}

.btn {
  display: inline-block;
  border: none;
  padding: .8rem;
  border-radius: .5rem;
  background-color: #ffffff;
  color: $fontBlack;
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $disabledBg;
    color: $disabledFont;
  }
}

.btn-success {
  background-color: $successColor;
  color: $fontWhite;
}

.btn-primary {
  background-color: $primaryColor;
  color: $fontWhite;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-column {
  display: inline-block;
  margin-right: 1.5rem;
}

.form-control {
  display: block;
  border: 1px solid silver;
  border-radius: 3px;
  background-color: aliceblue;
  outline: none;
  padding: .7rem;
  transition: border-color, box-shadow .3s;

  &:focus {
    border-color: $inputColor;
    box-shadow: inset 0 0 .3rem 0 $inputColor;
  }

  &.invalid {
    border-color: $dangerColor;
    box-shadow: inset 0 0 .3rem 0 $dangerColor;
  }
}




// media queries

@media screen and (max-width: 1170px) {
  html {
    font-size: 8px;

    .container {
      width: 990px;
    }
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 6px;

    .container {
      width: 720px;
    }
  }
}

@media screen and (max-width: 730px) {
  html {
    .container {
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
