$successColor: #309c30;
$accentColor: #c2119c;
$dangerColor: #a00303;
$primaryColor: #023f5a;

$fontBlack: #111111;
$fontWhite: #ffffff;

$inputColor: #6392e8;

$bannerFontColor: #b9cad6;
$bannerBg: #131b25;

$disabledBg: #7a8490;
$disabledFont: #b7bdc4;

$silverColor: silver;
